*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.button {
  inline-size: 100%;
  block-size: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  margin-block: auto;
  margin-inline: auto;
}


/* ------ ПЕРЕМЕСТИТЬ -------*/
.content__list {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
/* ------------------- */

.result__video {
  inline-size: 100%;
  margin-block-end: 16px;
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
}

.search-form {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  gap: 40px;
}

.search-form__fieldset {
  inline-size: 100%;
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-block-end: 5px;
}

.search-form__textfield {
  inline-size: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255 255 255 / .7);
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  border-radius: 0;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:not(:last-child) {
  margin-inline-end: 15px;
}

.search-form__pseudo-checkbox {
  content: '';
  display: block;
  block-size: 19px;
  inline-size: 19px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__submit-button {
  align-self: end;
}

.search-form__label-text {
  margin-inline-start: 5px;
}



.title {
  margin-block-end: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-child) {
  margin-block-end: 32px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2px;
}

.content__video-card-title,
.content__video-card-description {
  text-align: left;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-block-end: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 100%;
}